#middle {
  grid-area: middle;
  position: relative;
}

#preview-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid rgba(244, 244, 244, 1);
}

#preview-container > * {
  position: absolute;
}

#total-nutrition {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1vw 2vw;
  background-color: rgba(255, 255, 255, 0.7);
}