* {
  box-sizing: border-box;
  transition-property: background-color, color, opacity, left;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.4s;
  transition-timing-function: linear, linear, linear, ease-in-out;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  
	font-family: 'Noto Sans', sans-serif;
	color: #333333;
}

article#main {
  display: grid;
  grid-template-rows: 15% 40% 45%;
  grid-template-areas: "upper"
                       "middle"
                       "lower";
  width: 100vw;
  height: 100vh;
}

article#main p {
  margin: 0;
  padding: 0;
}